<div class="col col-md-3">
    <div class="card" style="width: 18rem; margin-left: 3em; margin-bottom: 2em;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam pariatur numquam
                excepturi reiciendis illum asperiores esse aperiam, deleniti eius et corporis! Voluptas dolorum dolorem,
                totam at enim sapiente tempora!</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>